@charset "UTF-8";
html {
  font-size: 16px;
  font-family: fot-tsukuardgothic-std, sans-serif;
  color: #442508;
  background-color: #fdefe9;
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #444444;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 4%;
}

.sec-title {
  text-align: center;
}
.sec-title h2 {
  font-size: 1.7rem;
  padding: 10px;
}

.btn {
  display: block;
  background-color: #f47a7a;
  width: 200px;
  text-align: center;
  padding: 25px 0;
  border-radius: 100px;
  letter-spacing: 0.12em;
  margin: 50px auto;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
}
.btn:hover {
  opacity: 0.7;
}

#header {
  position: absolute;
  height: 130px;
  left: 0;
  right: 0;
  margin: auto;
}
#header.fixed {
  position: fixed; /*fixedを設定して固定*/
  z-index: 999; /*最前面へ*/
  top: 0; /*位置指定*/
  left: 0; /*位置指定*/
  background-color: #fdefe9;
}
#header .header-inner {
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  #header .header-inner {
    flex-direction: column;
  }
}
#header .header-inner .logo {
  width: 300px;
}
@media (max-width: 768px) {
  #header .header-inner {
    /*========= ボタンのためのCSS ===============*/
  }
  #header .header-inner .openbtn {
    position: fixed;
    z-index: 9999; /*ボタンを最前面に*/
    top: 10px;
    left: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    /*×に変化*/
  }
  #header .header-inner .openbtn span {
    display: inline-block;
    transition: all 0.4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    width: 45%;
  }
  #header .header-inner .openbtn span:nth-of-type(1) {
    top: 15px;
  }
  #header .header-inner .openbtn span:nth-of-type(2) {
    top: 23px;
  }
  #header .header-inner .openbtn span:nth-of-type(3) {
    top: 31px;
  }
  #header .header-inner .openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  #header .header-inner .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }
  #header .header-inner .openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
}
@media (max-width: 768px) {
  #header .header-inner #g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: 0;
    left: -120%;
    width: 100%;
    height: 100vh; /*ナビの高さ*/
    background: #999;
    /*動き*/
    transition: all 0.6s;
    /*アクティブクラスがついたら位置を0に*/
    /*ナビゲーションの縦スクロール*/
    /*ナビゲーション*/
    /*リストのレイアウト設定*/
  }
  #header .header-inner #g-nav.panelactive {
    left: 0;
  }
  #header .header-inner #g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh; /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  #header .header-inner #g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #header .header-inner #g-nav li {
    list-style: none;
    text-align: center;
  }
  #header .header-inner #g-nav li a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
  }
}
#header .header-inner ul {
  display: flex;
}
@media (max-width: 768px) {
  #header .header-inner ul {
    flex-direction: column;
  }
}
#header .header-inner ul li {
  margin-right: 20px;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  #header .header-inner ul li {
    margin: 10px 0;
  }
}
#header .header-inner ul li:nth-child(7) {
  margin-right: 0;
}

/* --- 全体のBOX定義 ---------------------------------------- */
.box-top-bg-img {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  /* --- 背景の指定 ------------------------------------------- */
  /* --- 段差で背景画像のアニメーションを実行 ----------------- */
}
.box-top-bg-img .bgImg {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  animation: bgAnime 15s infinite; /* 3画像 × 各10s = 30s */
}
.box-top-bg-img .src1 {
  background-image: url(../images/index/Lashiny.jpg); /* 背景の画像を指定 */
}
.box-top-bg-img .src2 {
  background-image: url(../images/index/top2.jpg); /* 背景の画像を指定 */
  animation-delay: 8s;
}
@keyframes bgAnime {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#concept {
  margin-top: 50px;
}
#concept .concept-info {
  margin-top: 50px;
  text-align: center;
}
#concept .concept-info p {
  margin-top: 30px;
  line-height: 1.5;
}

#profile {
  margin-top: 100px;
  margin-bottom: 100px;
}
#profile .profile-box {
  padding: 0 20%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  #profile .profile-box {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
}
#profile .profile-box .profile-info {
  width: 48%;
}
@media (max-width: 768px) {
  #profile .profile-box .profile-info {
    width: 100%;
  }
}
#profile .profile-box .profile-info p {
  font-size: 1rem;
  line-height: 2;
  padding: 50px 0 0px;
}
@media (max-width: 768px) {
  #profile .profile-box .profile-info p {
    text-align: center;
    margin: 0 auto;
  }
}
#profile .profile-box .profile-img {
  width: 48%;
}
@media (max-width: 768px) {
  #profile .profile-box .profile-img {
    width: 100%;
  }
}
#profile .profile-box .profile-img img {
  border-radius: 100%;
  box-shadow: 20px 36px 25px 0 rgba(230, 196, 179, 0.77);
}
@media (max-width: 768px) {
  #profile .profile-box .profile-img img {
    width: 100%;
    margin-top: 30px;
  }
}

#menu .menu-boxes {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 20%;
}
@media (max-width: 768px) {
  #menu .menu-boxes {
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 0;
  }
}
#menu .menu-boxes .menu-box {
  width: 47%;
  position: relative;
}
@media (max-width: 768px) {
  #menu .menu-boxes .menu-box {
    width: 100%;
    margin-top: 20px;
  }
}
#menu .menu-boxes .menu-box img {
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
#menu .menu-boxes .menu-box .menu-box-background {
  background-color: #FEF4F2;
  opacity: 0.68;
  padding: 30px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 0.24em;
}
#menu .menu-boxes .menu-box .menu-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  letter-spacing: 0.24em;
}

#reservation {
  margin-top: 90px;
  height: 100%;
}
#reservation .reservation-boxes {
  margin-bottom: 60px;
  display: grid;
  justify-content: center;
  gap: 3%;
  grid-template-columns: repeat(auto-fit, minmax(220px, 220px));
  padding-top: 50px;
}
@media (max-width: 564px) {
  #reservation .reservation-boxes {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
  }
}
#reservation .reservation-boxes .reservation-box {
  position: relative;
  padding: 0.5em 1em;
  border: solid 5px #e6c4b3; /*線*/
  border-radius: 20px; /*角の丸み*/
  margin-top: 6%;
  height: 200px;
}
@media (max-width: 564px) {
  #reservation .reservation-boxes .reservation-box {
    height: 150px;
    margin-top: 30px;
  }
}
#reservation .reservation-boxes .reservation-box:nth-child(2) {
  background-color: #f1d9ce;
  border: solid 5px #f1d9ce; /*線*/
}
#reservation .reservation-boxes .reservation-box:nth-child(3) {
  border: solid 5px #e6c4b3; /*線*/
}
#reservation .reservation-boxes .reservation-box:nth-child(4) {
  background-color: #f1d9ce;
  border: solid 5px #f1d9ce; /*線*/
}
#reservation .reservation-boxes .reservation-box:nth-child(5) {
  background-color: #f1d9ce;
  border: solid 5px #f1d9ce; /*線*/
}
#reservation .reservation-boxes .reservation-box:nth-child(6) {
  border: solid 5px #e6c4b3; /*線*/
}
#reservation .reservation-boxes .reservation-box:nth-child(7) {
  background-color: #f1d9ce;
  border: solid 5px #f1d9ce; /*線*/
}
#reservation .reservation-boxes .reservation-box:nth-child(8) {
  border: solid 5px #e6c4b3; /*線*/
}
@media (max-width: 1024px) {
  #reservation .reservation-boxes .reservation-box:nth-child(2) {
    background-color: #f1d9ce;
    border: solid 5px #f1d9ce; /*線*/
  }
  #reservation .reservation-boxes .reservation-box:nth-child(3) {
    border: solid 5px #f1d9ce; /*線*/
  }
  #reservation .reservation-boxes .reservation-box:nth-child(4) {
    border: solid 5px #e6c4b3; /*線*/
    background-color: #f1d9ce;
  }
  #reservation .reservation-boxes .reservation-box:nth-child(5) {
    border: solid 5px #e6c4b3; /*線*/
    background-color: #fdefe9;
  }
  #reservation .reservation-boxes .reservation-box:nth-child(6) {
    background-color: #f1d9ce;
    border: solid 5px #f1d9ce; /*線*/
  }
  #reservation .reservation-boxes .reservation-box:nth-child(7) {
    background-color: #fdefe9;
    border: solid 5px #f1d9ce; /*線*/
  }
  #reservation .reservation-boxes .reservation-box:nth-child(8) {
    border: solid 5px #e6c4b3; /*線*/
    background-color: #f1d9ce;
  }
}
#reservation .reservation-boxes .reservation-box-number {
  background: #e6c4b3;
  border-radius: 50%;
  font-size: 1.625rem;
  text-align: center;
  position: absolute;
  padding: 20px 25px;
  top: -25px;
  left: -25px;
}
#reservation .reservation-boxes .reservation-box-title {
  color: #f47a7a;
  text-align: center;
  margin: 30px 0 15px;
  letter-spacing: 0.12em;
}
#reservation .reservation-boxes .reservation-box-text {
  padding: 0 10px;
  line-height: 1.5rem;
}

#voice {
  margin-top: 90px;
}

/*==================================================
スライダーのためのcss
===================================*/
.slider { /*横幅94%で左右に余白を持たせて中央寄せ*/
  width: 94%;
  margin: 0 auto;
}
.slider img {
  width: 40vw; /*スライダー内の画像を60vwにしてレスポンシブ化*/
  height: auto;
}
@media (max-width: 564px) {
  .slider img {
    width: 60vw;
  }
}
.slider .slick-slide {
  transform: scale(0.8); /*左右の画像のサイズを80%に*/
  transition: all 0.5s; /*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5; /*透過50%*/
}
.slider .slick-slide.slick-center {
  transform: scale(1); /*中央の画像のサイズだけ等倍に*/
  opacity: 1; /*透過なし*/
}

/*矢印の設定*/
/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  position: absolute; /*絶対配置にする*/
  top: 42%;
  cursor: pointer; /*マウスカーソルを指マークに*/
  outline: none; /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666; /*矢印の色*/
  border-right: 2px solid #666; /*矢印の色*/
  height: 15px;
  width: 15px;
}

.slick-prev { /*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next { /*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/
.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}
.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}
.slick-dots button {
  color: transparent;
  outline: none;
  width: 8px; /*ドットボタンのサイズ*/
  height: 16px; /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  background: #E5C4B2; /*ドットボタンの色*/
}
.slick-dots .slick-active button {
  background: #333; /*ドットボタンの現在地表示の色*/
}

/*==================================================
スライダーのためのcss
===================================*/
#faq {
  /*アコーディオン全体*/
}
#faq .accordion-area {
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
}
#faq .accordion-area li {
  margin: 10px 0;
}
#faq .accordion-area section {
  border: 1px solid #ccc;
  background-color: #e6c4b3;
  border-radius: 30px;
  /*アコーディオンタイトル*/
  /*アコーディオンで現れるエリア*/
}
#faq .accordion-area section .title {
  position: relative; /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all 0.5s ease;
  /*アイコンの＋と×*/
  /*　closeというクラスがついたら形状変化　*/
}
#faq .accordion-area section .title::before, #faq .accordion-area section .title::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #333;
}
#faq .accordion-area section .title::before {
  top: 48%;
  left: 15px;
  transform: rotate(0deg);
}
#faq .accordion-area section .title::after {
  top: 48%;
  left: 15px;
  transform: rotate(90deg);
}
#faq .accordion-area section .title.close::before {
  transform: rotate(45deg);
}
#faq .accordion-area section .title.close::after {
  transform: rotate(-45deg);
}
#faq .accordion-area section .box {
  display: none; /*はじめは非表示*/
  background: #f3f3f3;
  margin: 0 3% 3% 3%;
  padding: 3%;
}
#faq .accordion-area section .box p {
  letter-spacing: 0.12em;
}

#access {
  margin-bottom: 100px;
}
#access .access-box {
  margin-top: 50px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  #access .access-box {
    flex-direction: column-reverse;
  }
}
#access .access-box-map {
  width: 49%;
}
@media (max-width: 768px) {
  #access .access-box-map {
    width: 100%;
  }
}
#access .access-box-map iframe {
  width: 100%;
}
#access .access-box-info {
  width: 49%;
  text-align: center;
  display: table;
}
@media (max-width: 768px) {
  #access .access-box-info {
    width: 100%;
  }
}
#access .access-box-info p {
  padding: 20px 0;
  letter-spacing: 0.12em;
  line-height: 3rem;
  display: table-cell;
  vertical-align: middle;
}

/* --- 全体のBOX定義 ---------------------------------------- */
.box-top-bg-img {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  /* --- 背景の指定 ------------------------------------------- */
}
.box-top-bg-img .bgImgNoAnime {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.box-top-bg-img .profile-top {
  background-image: url(../images/profile/profile-top.jpg);
}
.box-top-bg-img .profile-top-inner {
  position: relative;
  padding: 70vh 0;
}
.box-top-bg-img .profile-top-inner-lead {
  position: absolute;
  font-size: 1.5rem;
  padding-left: 4rem;
  text-indent: -4rem;
  left: 20%;
  line-height: 3rem;
}
.box-top-bg-img .profile-top-inner-lead span {
  font-size: 2rem;
  margin: 0 0.5rem;
}

#archivement-profile {
  margin-top: 50px;
}
#archivement-profile .archivement-profile-info {
  margin-top: 50px;
}
#archivement-profile .archivement-profile-info .slider-info {
  height: 400px;
  width: 650px;
  padding: 10px 100px;
  background-color: #F3E3DA;
}
#archivement-profile .archivement-profile-info .slider-info .slider-info-title {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 40px;
}
#archivement-profile .archivement-profile-info .slider-info .slider-info-text {
  margin-top: 30px;
  line-height: 2.5;
  margin-left: 30px;
}

#certification {
  margin-top: 100px;
  margin-bottom: 100px;
}
#certification .certification-box {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  #certification .certification-box {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
}
#certification .certification-box .certification-info {
  width: 48%;
  margin: 10% 0;
}
@media (max-width: 768px) {
  #certification .certification-box .certification-info {
    width: 100%;
  }
}
#certification .certification-box .certification-info .certification-info-text {
  font-size: 1rem;
  line-height: 2rem;
  margin: 20px 0;
}
@media (max-width: 768px) {
  #certification .certification-box .certification-info .certification-info-text {
    text-align: center;
    margin: 0 auto;
  }
}
#certification .certification-box .certification-img {
  width: 48%;
  margin: 10% 0;
}
@media (max-width: 768px) {
  #certification .certification-box .certification-img {
    width: 100%;
    margin-top: 30px;
  }
}

#archivement .archivement-info .archivement-table {
  margin: 30px auto 0;
}
#archivement .archivement-info .archivement-table td {
  padding: 30px 0;
}
#archivement .archivement-info .archivement-table .archivement-table-client p {
  margin-right: 60px;
  text-align: right;
}
#archivement .archivement-info .archivement-info-more {
  margin-bottom: 100px;
}
#archivement .archivement-info .archivement-info-more p {
  text-align: center;
  margin: 30px 0;
}

#instagram .instagram-photos {
  margin: 50px 0;
  text-align: center;
}
#instagram .instagram-photos img {
  width: 20%;
}
#instagram .instagram-info {
  text-align: center;
}
#instagram .instagram-info p {
  line-height: 2.5rem;
}
#instagram .btn {
  padding: 20px;
}

#contact {
  margin-bottom: 50px;
}
#contact .contact-info {
  margin: 50px 0;
  text-align: center;
}
#contact .contact-info p {
  line-height: 2.5rem;
}
#contact .contact-icons {
  display: flex;
  text-align: center;
  justify-content: center;
}
#contact .contact-icons .contact-icons-link {
  margin: 0 40px;
}
#contact .contact-icons .contact-icons-link img {
  margin: 0 30px;
  width: 100px;
}

/* --- 全体のBOX定義 ---------------------------------------- */
.box-top-bg-img {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  /* --- 背景の指定 ------------------------------------------- */
}
.box-top-bg-img .bgImgNoAnime {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.box-top-bg-img .p-color-top {
  background-image: url(../images/personal_color/test.jpg);
}
.box-top-bg-img .p-color-top-inner {
  position: relative;
  padding: 50vh 0;
}
.box-top-bg-img .p-color-top-inner-box-background {
  background-color: #fff;
  opacity: 0.68;
  padding: 60px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  border-radius: 50px;
  letter-spacing: 0.24em;
}
.box-top-bg-img .p-color-top-inner-box-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  letter-spacing: 0.24em;
  line-height: 3rem;
}
.box-top-bg-img .p-color-top-inner-lead {
  position: absolute;
  font-size: 1.5rem;
  padding-left: 4rem;
  text-indent: -4rem;
  left: 20%;
  line-height: 3rem;
}
.box-top-bg-img .p-color-top-inner-lead span {
  font-size: 2rem;
  margin: 0 0.5rem;
}

/* --- パーソナルカラーとは ---------------------------------------- */
#p-color-explain {
  margin-top: 200px;
}
#p-color-explain .p-color-explain-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#p-color-explain .p-color-explain-inner-textBox {
  width: 45%;
  padding-left: 60px;
}
#p-color-explain .p-color-explain-inner-textBox-title {
  text-align: center;
  font-size: 1.5rem;
  padding: 30px;
}
#p-color-explain .p-color-explain-inner-textBox-text {
  margin-top: 30px;
  line-height: 2rem;
  font-size: 1.25rem;
}
#p-color-explain .p-color-explain-inner-imgBox {
  width: 45%;
}
#p-color-explain .p-color-explain-inner-imgBox img {
  box-shadow: 20px 25px #EFCBC3;
}
#p-color-explain .p-color-explain-inner::after {
  content: " ";
  width: 80%;
  height: 110%;
  padding: 30px;
  top: -10%;
  right: 0px;
  position: absolute;
  background-color: #F3E3DA;
  z-index: -1;
}

/* --- １６タイプパーソナルカラーとは ---------------------------------------- */
#types-color-explain {
  margin-top: 200px;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  max-height: 800px;
}
#types-color-explain .types-color-explain-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#types-color-explain .types-color-explain-inner-textBox {
  width: 50%;
  padding-right: 60px;
}
#types-color-explain .types-color-explain-inner-textBox-title {
  text-align: center;
  font-size: 1.5rem;
  padding: 30px;
}
#types-color-explain .types-color-explain-inner-textBox-text {
  font-size: 1.25rem;
  padding: 0 10%;
  margin-top: 30px;
  line-height: 2rem;
}
#types-color-explain .types-color-explain-inner-imgBox {
  width: 40%;
}
#types-color-explain .types-color-explain-inner-imgBox img {
  box-shadow: -20px 25px #EFCBC3;
}
#types-color-explain .types-color-explain-inner-imgBox-2 {
  width: 300px;
  position: absolute;
  right: 100px;
  bottom: -100px;
  z-index: -1;
}
#types-color-explain .types-color-explain-inner::after {
  content: " ";
  width: 80%;
  height: 110%;
  padding: 30px;
  top: -10%;
  left: 0px;
  position: absolute;
  background-color: #F3E3DA;
  z-index: -1;
}

#p-color-flow {
  margin-top: 100px;
  margin-bottom: 100px;
}
#p-color-flow .flow-box {
  border: 4px solid #E1C5B4;
  width: 80%;
  margin: 100px 0;
  position: relative;
}
#p-color-flow .flow-box-inner {
  margin: 40px 80px;
}
#p-color-flow .flow-box-inner h2 {
  margin: 30px 0;
  font-size: 1.8rem;
}
#p-color-flow .flow-box-inner h3 {
  margin: 30px 0;
  line-height: 2.5rem;
  font-size: 1.8rem;
}
#p-color-flow .flow-box-inner-text {
  padding: 0px 50px;
  line-height: 2rem;
  font-size: 1.25rem;
}
#p-color-flow .flow-box-inner-text-indent {
  text-indent: -1em;
  margin-top: 30px;
  margin-left: 1em;
}
#p-color-flow .flow-box:nth-child(4), #p-color-flow .flow-box:nth-child(5) {
  margin-left: 20%;
}
#p-color-flow .flow-box .flow-box-img-step1 img {
  position: absolute;
  width: 50%;
  top: 10%;
  right: -15%;
  z-index: 1;
}
#p-color-flow .flow-box .flow-box-img-step3 img {
  position: absolute;
  width: 35%;
  top: 30%;
  left: -25%;
  z-index: 1;
}
#p-color-flow .flow-box .flow-box-img-step3 .flow-box-inner {
  padding-left: 10%;
}
#p-color-flow .flow-box .flow-box-img-step4 img {
  position: absolute;
  width: 30%;
  top: -40%;
  right: -2%;
  z-index: 1;
}
#p-color-flow .flow-box .flow-box-img-step4 .flow-box-inner {
  padding-left: 10%;
}
#p-color-flow .flow-box .flow-box-img-step5 img {
  position: absolute;
  width: 50%;
  top: -10%;
  z-index: 1;
  right: -25%;
}
#p-color-flow .flow-box:nth-child(2)::after {
  content: url(/images/flow_connect.png);
  position: absolute;
  bottom: -35%;
  left: 10%;
  display: inline-block;
  transform: scale(0.8);
}
#p-color-flow .flow-box:nth-child(3)::after {
  content: url(/images/flow_connect.png);
  position: absolute;
  bottom: -30%;
  left: 40%;
  display: inline-block;
  transform: scale(0.8);
}
#p-color-flow .flow-box:nth-child(4)::after {
  content: url(/images/flow_connect.png);
  position: absolute;
  bottom: -30%;
  left: 40%;
  display: inline-block;
  transform: scale(0.8);
}
#p-color-flow .flow-box:nth-child(5)::after {
  content: url(/images/flow_connect.png);
  position: absolute;
  bottom: -35%;
  left: 0%;
  display: inline-block;
  transform: scale(0.8);
}
#p-color-flow .flow-box:nth-child(6)::after {
  content: url(/images/flow_connect.png);
  position: absolute;
  bottom: -30%;
  left: 10%;
  display: inline-block;
  transform: scale(0.8);
}

/* --- 全体のBOX定義 ---------------------------------------- */
.box-top-bg-img {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  /* --- 背景の指定 ------------------------------------------- */
}
.box-top-bg-img .bgImgNoAnime {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.box-top-bg-img .f-type-top {
  background-image: url(../images/3_2_faceType/faceTypeTop.jpg);
}
.box-top-bg-img .f-type-top-inner {
  position: relative;
  padding: 50vh 0;
}
.box-top-bg-img .f-type-top-inner-box-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  letter-spacing: 0.24em;
  line-height: 3rem;
}
.box-top-bg-img .f-type-top-inner-lead {
  position: absolute;
  font-size: 1.5rem;
  padding-left: 4rem;
  text-indent: -4rem;
  left: 20%;
  line-height: 3rem;
}
.box-top-bg-img .f-type-top-inner-lead span {
  font-size: 2rem;
  margin: 0 0.5rem;
}

/* --- 顔診断とは ---------------------------------------- */
#f-type-explain {
  margin-top: 200px;
}
#f-type-explain .f-type-explain-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#f-type-explain .f-type-explain-inner-textBox {
  width: 50%;
  padding-left: 120px;
}
#f-type-explain .f-type-explain-inner-textBox-title {
  text-align: center;
  font-size: 1.5rem;
  padding: 80px 30px;
}
#f-type-explain .f-type-explain-inner-textBox-text {
  margin-top: 30px;
  line-height: 2.5rem;
  font-size: 1.25rem;
}
#f-type-explain .f-type-explain-inner-imgBox {
  width: 35%;
}
#f-type-explain .f-type-explain-inner-imgBox img {
  box-shadow: 20px 25px #EFCBC3;
}
#f-type-explain .f-type-explain-inner::after {
  content: " ";
  width: 80%;
  height: 105%;
  padding: 30px;
  top: -5%;
  right: 0px;
  position: absolute;
  background-color: #F3E3DA;
  z-index: -1;
}

#face-type-flow {
  margin-top: 100px;
  margin-bottom: 100px;
}
#face-type-flow .flow-box {
  border: 4px solid #E1C5B4;
  width: 80%;
  margin: 100px 0;
  position: relative;
}
#face-type-flow .flow-box-inner {
  margin: 40px 80px;
}
#face-type-flow .flow-box-inner h2 {
  margin: 30px 0;
  font-size: 1.8rem;
}
#face-type-flow .flow-box-inner h3 {
  margin: 30px 0;
  line-height: 2.5rem;
  font-size: 1.8rem;
}
#face-type-flow .flow-box-inner-text {
  padding: 0px 50px;
  line-height: 2rem;
  font-size: 1.25rem;
}
#face-type-flow .flow-box-inner-text-indent {
  text-indent: -1em;
  margin-top: 30px;
  margin-left: 1em;
}
#face-type-flow .flow-box:nth-child(4), #face-type-flow .flow-box:nth-child(5) {
  margin-left: 20%;
}
#face-type-flow .flow-box .flow-box-img-step1 img {
  position: absolute;
  width: 50%;
  top: 10%;
  right: -15%;
  z-index: 1;
}
#face-type-flow .flow-box .flow-box-img-step3 img {
  position: absolute;
  width: 35%;
  top: 30%;
  left: -25%;
  z-index: 1;
}
#face-type-flow .flow-box .flow-box-img-step3 .flow-box-inner {
  padding-left: 10%;
}
#face-type-flow .flow-box .flow-box-img-step5-1 img {
  position: absolute;
  width: 35%;
  top: -30%;
  right: -20%;
  z-index: 2;
}
#face-type-flow .flow-box .flow-box-img-step5-1 .flow-box-inner {
  padding-left: 10%;
}
#face-type-flow .flow-box .flow-box-img-step5-2 img {
  position: absolute;
  width: 30%;
  top: 58%;
  z-index: 1;
  right: 3%;
}
#face-type-flow .flow-box:nth-child(2)::after {
  content: url(/images/flow_connect.png);
  position: absolute;
  bottom: -35%;
  left: 10%;
  display: inline-block;
  transform: scale(0.8);
}
#face-type-flow .flow-box:nth-child(3)::after {
  content: url(/images/flow_connect.png);
  position: absolute;
  bottom: -35%;
  left: 40%;
  display: inline-block;
  transform: scale(0.8);
}
#face-type-flow .flow-box:nth-child(4)::after {
  content: url(/images/flow_connect.png);
  position: absolute;
  bottom: -35%;
  left: 40%;
  display: inline-block;
  transform: scale(0.8);
}
#face-type-flow .flow-box:nth-child(5)::after {
  content: url(/images/flow_connect.png);
  position: absolute;
  bottom: -38%;
  left: 0%;
  display: inline-block;
  transform: scale(0.8);
}
#face-type-flow .flow-box:nth-child(6)::after {
  content: url(/images/flow_connect.png);
  position: absolute;
  bottom: -35%;
  left: 10%;
  display: inline-block;
  transform: scale(0.8);
}

/* --- 全体のBOX定義 ---------------------------------------- */
.box-top-bg-img {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  /* --- 背景の指定 ------------------------------------------- */
}
.box-top-bg-img .bgImgNoAnime {
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.box-top-bg-img .frame-type-top {
  background-image: url(../images/3_3_frameType/frame_type1.jpg);
}
.box-top-bg-img .frame-type-top-inner {
  position: relative;
  padding: 50vh 0;
}
.box-top-bg-img .frame-type-top-inner-box-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  letter-spacing: 0.24em;
  line-height: 3rem;
}
.box-top-bg-img .frame-type-top-inner-lead {
  position: absolute;
  font-size: 1.5rem;
  padding-left: 4rem;
  text-indent: -4rem;
  left: 20%;
  line-height: 3rem;
}
.box-top-bg-img .frame-type-top-inner-lead span {
  font-size: 2rem;
  margin: 0 0.5rem;
}

/* --- 骨格診断とは ---------------------------------------- */
#frame-type-explain {
  margin-top: 200px;
}
#frame-type-explain .frame-type-explain-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#frame-type-explain .frame-type-explain-inner-textBox {
  width: 45%;
  padding-left: 60px;
}
#frame-type-explain .frame-type-explain-inner-textBox-title {
  text-align: center;
  font-size: 1.5rem;
  padding: 30px;
}
#frame-type-explain .frame-type-explain-inner-textBox-text {
  margin-top: 30px;
  line-height: 2rem;
  font-size: 1.25rem;
}
#frame-type-explain .frame-type-explain-inner-imgBox {
  width: 45%;
}
#frame-type-explain .frame-type-explain-inner-imgBox img {
  box-shadow: 20px 25px #EFCBC3;
}
#frame-type-explain .frame-type-explain-inner::after {
  content: " ";
  width: 80%;
  height: 110%;
  padding: 30px;
  top: -10%;
  right: 0px;
  position: absolute;
  background-color: #F3E3DA;
  z-index: -1;
}

/* --- 自分型骨格診断とは ---------------------------------------- */
#self-frame-type-explain {
  margin-top: 200px;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  max-height: 800px;
}
#self-frame-type-explain .self-frame-type-explain-inner {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#self-frame-type-explain .self-frame-type-explain-inner-textBox {
  width: 50%;
  padding-right: 60px;
}
#self-frame-type-explain .self-frame-type-explain-inner-textBox-title {
  text-align: center;
  font-size: 1.5rem;
  padding: 30px;
}
#self-frame-type-explain .self-frame-type-explain-inner-textBox-text {
  font-size: 1.25rem;
  padding: 0 10%;
  margin-top: 30px;
  line-height: 2rem;
}
#self-frame-type-explain .self-frame-type-explain-inner-imgBox {
  width: 40%;
}
#self-frame-type-explain .self-frame-type-explain-inner-imgBox img {
  box-shadow: -20px 25px #EFCBC3;
}
#self-frame-type-explain .self-frame-type-explain-inner-imgBox-2 {
  width: 300px;
  position: absolute;
  right: 100px;
  bottom: -100px;
  z-index: -1;
}
#self-frame-type-explain .self-frame-type-explain-inner::after {
  content: " ";
  width: 80%;
  height: 110%;
  padding: 30px;
  top: -10%;
  left: 0px;
  position: absolute;
  background-color: #F3E3DA;
  z-index: -1;
}

#frame-type-flow {
  margin-top: 100px;
  margin-bottom: 100px;
}
#frame-type-flow .flow-box {
  border: 4px solid #E1C5B4;
  width: 80%;
  margin: 100px 0;
  position: relative;
}
#frame-type-flow .flow-box-inner {
  margin: 40px 80px;
}
#frame-type-flow .flow-box-inner h2 {
  margin: 30px 0;
  font-size: 1.8rem;
}
#frame-type-flow .flow-box-inner h3 {
  margin: 30px 0;
  line-height: 2.5rem;
  font-size: 1.8rem;
}
#frame-type-flow .flow-box-inner-text {
  padding: 0px 50px;
  line-height: 2rem;
  font-size: 1.25rem;
}
#frame-type-flow .flow-box-inner-text-indent {
  text-indent: -1em;
  margin-top: 30px;
  margin-left: 1em;
}
#frame-type-flow .flow-box:nth-child(4), #frame-type-flow .flow-box:nth-child(5) {
  margin-left: 20%;
}
#frame-type-flow .flow-box .flow-box-img-step1 img {
  position: absolute;
  width: 50%;
  top: -20%;
  right: -20%;
  z-index: 1;
}
#frame-type-flow .flow-box .flow-box-img-step3 img {
  position: absolute;
  width: 35%;
  top: 30%;
  left: -25%;
  z-index: 1;
}
#frame-type-flow .flow-box .flow-box-img-step3 .flow-box-inner {
  padding-left: 10%;
}
#frame-type-flow .flow-box .flow-box-img-step4 img {
  position: absolute;
  width: 30%;
  top: -40%;
  right: -2%;
  z-index: 1;
}
#frame-type-flow .flow-box .flow-box-img-step4 .flow-box-inner {
  padding-left: 10%;
}
#frame-type-flow .flow-box .flow-box-img-step5 img {
  position: absolute;
  width: 40%;
  top: -26%;
  z-index: 1;
  right: -25%;
}
#frame-type-flow .flow-box:nth-child(2)::after {
  content: url(/images/flow_connect.png);
  position: absolute;
  bottom: -35%;
  left: 10%;
  display: inline-block;
  transform: scale(0.8);
}
#frame-type-flow .flow-box:nth-child(3)::after {
  content: url(/images/flow_connect.png);
  position: absolute;
  bottom: -32%;
  left: 40%;
  display: inline-block;
  transform: scale(0.8);
}
#frame-type-flow .flow-box:nth-child(4)::after {
  content: url(/images/flow_connect.png);
  position: absolute;
  bottom: -31%;
  left: 40%;
  display: inline-block;
  transform: scale(0.8);
}
#frame-type-flow .flow-box:nth-child(5)::after {
  content: url(/images/flow_connect.png);
  position: absolute;
  bottom: -40%;
  left: 0%;
  display: inline-block;
  transform: scale(0.8);
}

footer {
  /*リンクの形状*/
  /*リンクを右下に固定*/
}
footer #page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #942D2F;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
}
footer #page-top a a:hover {
  background: #777;
}
footer #page-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateX(100px);
  /*　左の動き　*/
  /*　右の動き　*/
}
footer #page-top.LeftMove {
  animation: LeftAnime 0.5s forwards;
}
@keyframes LeftAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
footer #page-top.RightMove {
  animation: RightAnime 0.5s forwards;
}
@keyframes RightAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(100px);
  }
}
footer .footer-nav ul {
  height: 100px;
  background-color: #e6c4b3;
  display: flex;
  justify-content: space-between;
  padding: 0 20%;
}
@media (max-width: 768px) {
  footer .footer-nav ul {
    flex-direction: column;
    height: 60px;
  }
}
footer .footer-nav ul li {
  list-style: none;
}
footer .footer-nav ul li .footer-menu {
  line-height: 100px;
  font-weight: bold;
  letter-spacing: 0.12em;
}
@media (max-width: 768px) {
  footer .footer-nav ul li .footer-menu {
    line-height: 20px;
    text-align: center;
  }
}
footer p {
  line-height: 1.5rem;
  background-color: #e6c4b3;
  text-align: center;
}/*# sourceMappingURL=style.css.map */